div.default-ltr-cache-1wosl0z ew2l6qe0 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    letter-spacing: 0 !important;
    display: flex;
    box-sizing: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    width: calc(100% - 0px);
    padding: 0 0 26.25rem 0;
    flex: 0 0 100%;
}

div.default-ltr-cache-ktjgi6 e1uka1tf0 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    letter-spacing: 0 !important;
    width: 100%;
    max-width: 1824px;
    margin: 0 auto;
}

div.default-ltr-cache-1aubja5 eslj5pt1 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    letter-spacing: 0 !important;
    width: 100%;
    overflow: visible;
}

div.default-ltr-cache-zxanvu eslj5pt0 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    letter-spacing: 0 !important;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1824px;
    margin-top: -16px;
    margin-left: -0px;
    padding: 5.875rem 9.25rem 0 9.25rem;
}

div.default-ltr-cache-1wpqai4 ew2l6qe0 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    letter-spacing: 0 !important;
    display: flex;
    box-sizing: inherit;
    padding: 0px;
    margin-top: 16px;
    margin-left: 0px;
    width: calc(75% - 0px);
    flex: 0 0 75%;
}

h1.default-ltr-cache-qsjwmk edmqlai0 {
    -webkit-text-size-adjust: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    letter-spacing: 0 !important;
    margin: .67em 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 4rem;
    font-weight: 900;
}